<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- Driver y URL MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://10.101.0.12:3306/ormPrueba10</property>
        <property name="hibernate.connection.username">user10</property>
        <property name="hibernate.connection.password">user10</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entidades -->
        <mapping class="ar.edu.unlu.bdd.modelo.Carrera"/>
        <mapping class="ar.edu.unlu.bdd.modelo.CompiteEn"/>
        <mapping class="ar.edu.unlu.bdd.modelo.Equipo"/>
        <mapping class="ar.edu.unlu.bdd.modelo.Piloto"/>
    </session-factory>
</hibernate-configuration>
